.san1 {
    position: absolute;
    z-index: 0;
    width: 75px;
    height: 2px;
    background-color: rgba(150, 255, 78, 0.5);
    box-shadow: 0 0 10px 0 #96FF4E;
    transform: translateY(-50%);
    transform-origin: 0 center;
    border-radius: 0 50% 50% 0;
}
